.main
{
    background-color: var(--dark-blue);
    max-width: 350px;
    padding: 1.5em 2em;
    border-radius: 25px;

    box-shadow: inset 0 -150px 350px -170px #000;
}

.img-cont
{
    margin: 30px 0 50px 0;
    display: grid;
    place-items: center;
}

.selection-cont
{
    display: block;
    margin: auto;
    background-color: var(--medium-grey-faded);
    max-width: max-content;
    padding: 5px 20px;
    border-radius: 15px;

    margin-bottom: 30px;
}

.selection-cont p{
    color: var(--orange);
    font-size: .94rem;
    margin: 0;
}

.text
{
    font-family: 'Overpass', sans-serif;
}

.text p{text-align: center;}

.text p.title
{
    color: var(--white);
    font-size: 1.7rem;

    margin-bottom: 15px;
}

.text p.description
{
    color: var(--light-grey);
    font-size: .9rem;
    line-height: 1.2rem;
}